{% extends 'happyCmsBundle::base.html.twig' %}
{% block pageheader %}Агуулга нэмэх хэсэг{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul style="float: right;list-style: none">
        <li>
            <a href="{{ path('cms_content_index') }}">Буцах</a>
        </li>
    </ul>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        CKEDITOR.replace('happy_cmsbundle_content_describe', {
            height: 300
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('happy_cmsbundle_content_describe', {
            height: 300
        });
    </script>
{% endblock %}
