<a href="" class="projects-link" style="display: block">
    <div class="card" style="border: 1px solid #cccccc;border-radius: 25px;overflow: hidden;position: relative">
        <img src="{{ img }}">
        <div class="transbox">
        </div>
        <div class="project-type-block">
            <b>{{ title }}</b><br>
        </div>
    </div>
</a>